pre { line-height: 125%; }
td.linenos .normal { color: #8c959f; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #8c959f; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.pdoc-code .hll { background-color: #4ac26b40 }
.pdoc-code { background: #ffffff; color: #1F2328 }
.pdoc-code .c { color: #6E7781 } /* Comment */
.pdoc-code .err { color: #82071E } /* Error */
.pdoc-code .esc { color: #0A3069 } /* Escape */
.pdoc-code .k { color: #CF222E } /* Keyword */
.pdoc-code .l { color: #0A3069 } /* Literal */
.pdoc-code .o { color: #CF222E } /* Operator */
.pdoc-code .ch { color: #6E7781 } /* Comment.Hashbang */
.pdoc-code .cm { color: #6E7781 } /* Comment.Multiline */
.pdoc-code .cp { color: #CF222E } /* Comment.Preproc */
.pdoc-code .cpf { color: #0A3069 } /* Comment.PreprocFile */
.pdoc-code .c1 { color: #6E7781 } /* Comment.Single */
.pdoc-code .cs { color: #6E7781 } /* Comment.Special */
.pdoc-code .gd { color: #82071E } /* Generic.Deleted */
.pdoc-code .ge { color: #1F2328; } /* Generic.Emph */
.pdoc-code .ges { color: #1F2328; font-weight: bold; } /* Generic.EmphStrong */
.pdoc-code .gr { color: #82071E } /* Generic.Error */
.pdoc-code .gh { color: #0550AE; font-weight: bold } /* Generic.Heading */
.pdoc-code .gi { color: #116329 } /* Generic.Inserted */
.pdoc-code .go { color: #0A3069 } /* Generic.Output */
.pdoc-code .gp { color: #CF222E } /* Generic.Prompt */
.pdoc-code .gs { color: #1F2328; font-weight: bold } /* Generic.Strong */
.pdoc-code .gu { color: #0550AE } /* Generic.Subheading */
.pdoc-code .gt { color: #82071E } /* Generic.Traceback */
.pdoc-code .kc { color: #0550AE } /* Keyword.Constant */
.pdoc-code .kd { color: #CF222E } /* Keyword.Declaration */
.pdoc-code .kn { color: #CF222E } /* Keyword.Namespace */
.pdoc-code .kp { color: #CF222E } /* Keyword.Pseudo */
.pdoc-code .kr { color: #CF222E } /* Keyword.Reserved */
.pdoc-code .kt { color: #953800 } /* Keyword.Type */
.pdoc-code .ld { color: #0A3069 } /* Literal.Date */
.pdoc-code .m { color: #0550AE } /* Literal.Number */
.pdoc-code .s { color: #0A3069 } /* Literal.String */
.pdoc-code .na { color: #0550AE } /* Name.Attribute */
.pdoc-code .nb { color: #0550AE } /* Name.Builtin */
.pdoc-code .nc { color: #953800 } /* Name.Class */
.pdoc-code .no { color: #0550AE } /* Name.Constant */
.pdoc-code .nd { color: #0550AE } /* Name.Decorator */
.pdoc-code .ni { color: #0550AE } /* Name.Entity */
.pdoc-code .ne { color: #0550AE } /* Name.Exception */
.pdoc-code .nf { color: #8250DF } /* Name.Function */
.pdoc-code .nl { color: #0A3069 } /* Name.Label */
.pdoc-code .py { color: #0550AE } /* Name.Property */
.pdoc-code .nt { color: #116329 } /* Name.Tag */
.pdoc-code .ow { color: #0550AE } /* Operator.Word */
.pdoc-code .w { color: #1F2328 } /* Text.Whitespace */
.pdoc-code .mb { color: #0550AE } /* Literal.Number.Bin */
.pdoc-code .mf { color: #0550AE } /* Literal.Number.Float */
.pdoc-code .mh { color: #0550AE } /* Literal.Number.Hex */
.pdoc-code .mi { color: #0550AE } /* Literal.Number.Integer */
.pdoc-code .mo { color: #0550AE } /* Literal.Number.Oct */
.pdoc-code .sa { color: #CF222E } /* Literal.String.Affix */
.pdoc-code .sb { color: #0550AE } /* Literal.String.Backtick */
.pdoc-code .sc { color: #0A3069 } /* Literal.String.Char */
.pdoc-code .dl { color: #0A3069 } /* Literal.String.Delimiter */
.pdoc-code .sd { color: #6E7781 } /* Literal.String.Doc */
.pdoc-code .s2 { color: #0A3069 } /* Literal.String.Double */
.pdoc-code .se { color: #0A3069 } /* Literal.String.Escape */
.pdoc-code .sh { color: #0A3069 } /* Literal.String.Heredoc */
.pdoc-code .si { color: #CF222E } /* Literal.String.Interpol */
.pdoc-code .sx { color: #0A3069 } /* Literal.String.Other */
.pdoc-code .sr { color: #0A3069 } /* Literal.String.Regex */
.pdoc-code .s1 { color: #0A3069 } /* Literal.String.Single */
.pdoc-code .ss { color: #0550AE } /* Literal.String.Symbol */
.pdoc-code .bp { color: #0550AE } /* Name.Builtin.Pseudo */
.pdoc-code .fm { color: #0550AE } /* Name.Function.Magic */
.pdoc-code .vc { color: #953800 } /* Name.Variable.Class */
.pdoc-code .il { color: #0550AE } /* Literal.Number.Integer.Long */


@media (prefers-color-scheme: dark) {
    /** Autogenerated "github-dark-dimmed" pygments theme */
    pre { line-height: 125%; }
    td.linenos .normal { color: #636e7b; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    span.linenos { color: #636e7b; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    .pdoc-code .hll { background-color: #57ab5a40 }
    .pdoc-code { background: var(--code); color: #ADBAC7 }
    .pdoc-code .c { color: #768390 } /* Comment */
    .pdoc-code .err { color: #FF938A } /* Error */
    .pdoc-code .esc { color: #96D0FF } /* Escape */
    .pdoc-code .k { color: #F47067 } /* Keyword */
    .pdoc-code .l { color: #96D0FF } /* Literal */
    .pdoc-code .o { color: #F47067 } /* Operator */
    .pdoc-code .ch { color: #768390 } /* Comment.Hashbang */
    .pdoc-code .cm { color: #768390 } /* Comment.Multiline */
    .pdoc-code .cp { color: #F47067 } /* Comment.Preproc */
    .pdoc-code .cpf { color: #96D0FF } /* Comment.PreprocFile */
    .pdoc-code .c1 { color: #768390 } /* Comment.Single */
    .pdoc-code .cs { color: #768390 } /* Comment.Special */
    .pdoc-code .gd { color: #FF938A } /* Generic.Deleted */
    .pdoc-code .ge { color: #ADBAC7; font-style: italic } /* Generic.Emph */
    .pdoc-code .ges { color: #ADBAC7; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
    .pdoc-code .gr { color: #FF938A } /* Generic.Error */
    .pdoc-code .gh { color: #6CB6FF; font-weight: bold } /* Generic.Heading */
    .pdoc-code .gi { color: #8DDB8C } /* Generic.Inserted */
    .pdoc-code .go { color: #96D0FF } /* Generic.Output */
    .pdoc-code .gp { color: #F47067 } /* Generic.Prompt */
    .pdoc-code .gs { color: #ADBAC7; font-weight: bold } /* Generic.Strong */
    .pdoc-code .gu { color: #6CB6FF } /* Generic.Subheading */
    .pdoc-code .gt { color: #FF938A } /* Generic.Traceback */
    .pdoc-code .kc { color: #6CB6FF } /* Keyword.Constant */
    .pdoc-code .kd { color: #F47067 } /* Keyword.Declaration */
    .pdoc-code .kn { color: #F47067 } /* Keyword.Namespace */
    .pdoc-code .kp { color: #F47067 } /* Keyword.Pseudo */
    .pdoc-code .kr { color: #F47067 } /* Keyword.Reserved */
    .pdoc-code .kt { color: #F69D50 } /* Keyword.Type */
    .pdoc-code .ld { color: #96D0FF } /* Literal.Date */
    .pdoc-code .m { color: #6CB6FF } /* Literal.Number */
    .pdoc-code .s { color: #96D0FF } /* Literal.String */
    .pdoc-code .na { color: #6CB6FF } /* Name.Attribute */
    .pdoc-code .nb { color: #6CB6FF } /* Name.Builtin */
    .pdoc-code .nc { color: #F69D50 } /* Name.Class */
    .pdoc-code .no { color: #6CB6FF } /* Name.Constant */
    .pdoc-code .nd { color: #6CB6FF } /* Name.Decorator */
    .pdoc-code .ni { color: #6CB6FF } /* Name.Entity */
    .pdoc-code .ne { color: #6CB6FF } /* Name.Exception */
    .pdoc-code .nf { color: #DCBDFB } /* Name.Function */
    .pdoc-code .nl { color: #96D0FF } /* Name.Label */
    .pdoc-code .py { color: #6CB6FF } /* Name.Property */
    .pdoc-code .nt { color: #8DDB8C } /* Name.Tag */
    .pdoc-code .ow { color: #6CB6FF } /* Operator.Word */
    .pdoc-code .w { color: #ADBAC7 } /* Text.Whitespace */
    .pdoc-code .mb { color: #6CB6FF } /* Literal.Number.Bin */
    .pdoc-code .mf { color: #6CB6FF } /* Literal.Number.Float */
    .pdoc-code .mh { color: #6CB6FF } /* Literal.Number.Hex */
    .pdoc-code .mi { color: #6CB6FF } /* Literal.Number.Integer */
    .pdoc-code .mo { color: #6CB6FF } /* Literal.Number.Oct */
    .pdoc-code .sa { color: #F47067 } /* Literal.String.Affix */
    .pdoc-code .sb { color: #6CB6FF } /* Literal.String.Backtick */
    .pdoc-code .sc { color: #96D0FF } /* Literal.String.Char */
    .pdoc-code .dl { color: #96D0FF } /* Literal.String.Delimiter */
    .pdoc-code .sd { color: #768390 } /* Literal.String.Doc */
    .pdoc-code .s2 { color: #96D0FF } /* Literal.String.Double */
    .pdoc-code .se { color: #96D0FF } /* Literal.String.Escape */
    .pdoc-code .sh { color: #96D0FF } /* Literal.String.Heredoc */
    .pdoc-code .si { color: #F47067 } /* Literal.String.Interpol */
    .pdoc-code .sx { color: #96D0FF } /* Literal.String.Other */
    .pdoc-code .sr { color: #96D0FF } /* Literal.String.Regex */
    .pdoc-code .s1 { color: #96D0FF } /* Literal.String.Single */
    .pdoc-code .ss { color: #6CB6FF } /* Literal.String.Symbol */
    .pdoc-code .bp { color: #6CB6FF } /* Name.Builtin.Pseudo */
    .pdoc-code .fm { color: #6CB6FF } /* Name.Function.Magic */
    .pdoc-code .vc { color: #F69D50 } /* Name.Variable.Class */
    .pdoc-code .il { color: #6CB6FF } /* Literal.Number.Integer.Long */
}